:root {
    --branding-color:rgb(1, 120, 1);
    --secondary-color: goldenrod;
    --heading-font-family: 'Bebas Neue',
    sans-serif;
    --body-font:  'Sofia Sans Condensed', sans-serif;
}

h1 {
  font-family:var(--heading-font-family); 
    font-size: 150px;
}

p {
    font-family: var(--body-font)
}

.header {
    text-align: center;
    padding-top:80px;
    padding-left: 50px;
}
.hero {
    background: var(--branding-color);
    color: #fff; 
}

.hero p {
    font-size: 36px;
}

.pic {
    text-align: left;
    line-height: 1;
}

.btn-branding {
    background-color: var(--secondary-color);
    border-radius: 4px;
    font-weight: bold;
}

.btn-branding-journey {
  border-color: var(--secondary-color);
    border-radius: 4px;
    color: var(--branding-color);   
} 

.section2 {
    text-align: center;
}

.placeholder-wave {
    color: rgb(203, 151, 20);
    background-color: rgb(203, 151, 20);;
}

@media(max-width: 600px) {
    h1 {
        font-size: 70px;
    }
    .header {
        padding-left: 5px;
       
    }
   
    .pic {
        padding-top: 30px
    }

    .about-paragraph {
        text-align: center;
    }

    .section2 {
       background-color: var(--branding-color);
       margin-top: 5px;
    }
}